version: '3'
services:
  redis:
    image: redis:alpine
  auth-service:
    build:
      context: .
    depends_on:
      - redis
    ports:
      - 8080
    environment:
      REDIS_URL: redis://redis
